@font-face {
  font-family: 'kameron', 'kameron-bold';
  src: local('kameron'), url(./Kameron/kameron-regular-webfont.woff) format('woff');
  src: local('kameron-bold'), url(./Kameron/kameron-bold-webfont.woff) format('woff');
}

.imageDisplay {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  width: 1000px;
  height: 1000px;
  margin: auto;
}

.playlistDisplay {
  display: flex;
  flex-flow: row wrap;
  width: 800px;
  height: 700px;
  margin: auto;
  
}

.trackImage {
  width: 150px;
  height: 150px;
}

.trackDiv {
  flex-basis: 45%;
  text-align:center;
  display: flex;
  padding-right: 5%;
  position: relative;
  width: 500px;
}

.body {
  background-color: #570A1C;
  color:#F0EAD1;
}

.buttonDisplay {
  height: 3vh;
  margin: auto;
  text-align: center;
}

.dateDisplay {
  text-align: center;
  font-size: 400%;
  padding-bottom: 75px;
  flex-basis: 100%;
  text-shadow: 6px 6px 12px #000000;
  font-family: 'kameron-bold=', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.trackText {
  text-align: left;
  padding-left: 10px;
  font-size: 125%;
  position: absolute;
  bottom: 90px;
  left: 215px;
  font-family: 'kameron-bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.trackNumber {
  font-size: 300%;
  padding-right: 10px;
  text-shadow: 6px 6px 12px #000000;
  font-family: 'kameron-bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.placeholderTrackText {
  text-align: left;
  padding-left: 10px;
  font-size: 125%;
  position: absolute;
  bottom: 120px;
  left: 215px;
  color: #570A1C;
  font-family: 'kameron-bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.placeholderTrackNumber {
  font-size: 200%;
  padding-right: 10px;
  color: #570A1C;
  font-family: 'kameron-bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}