.playlistDisplay {
  display: flex;
  flex-flow: row wrap;
  width: 1080px;
  height: 700px;
  margin: auto;
  
}

.trackImage {
  width: 150px;
  height: 150px;
  
}

.trackDiv {
  flex-basis: 50%;
  text-align:center;
  
}

.body {
  background-color: #570A1C;
  color:#F0EAD1;
}

.buttonDisplay {
  height: 3vh;
  margin: auto;
  text-align: center;
}

.dateDisplay {
  text-align: center;
  font-size: 300%;
  padding-bottom: 50px;
}